name: build-and-push

on:
  push:
    branches: ["dev", "qa", "main"]

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}/myapp

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Determine environment
        id: envname
        run: |
          if [[ "${GITHUB_REF_NAME}" == "dev" ]]; then echo "env=dev" >> $GITHUB_OUTPUT; fi
          if [[ "${GITHUB_REF_NAME}" == "qa" ]]; then echo "env=qa" >> $GITHUB_OUTPUT; fi
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then echo "env=prod" >> $GITHUB_OUTPUT; fi

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.envname.outputs.env }}-${{ github.sha }}
            ${{ env.IMAGE_NAME }}:${{ steps.envname.outputs.env }}-latest
